body {
        margin: 0;
        padding: 0;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #666666;
}

h1, h2, h3 {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        color: #000000;
}

h1 {
        font-weight: normal;
        font-size: 237%;
}

a {
        border-bottom: 1px dotted #CCCCCC;
        text-decoration: none;
        color: #1777B1;
}

a:hover {
        border-bottom: none;
        color: #FF7400;
}

img {
        border: 3px solid #7F7772;
}

img.left {
        float: left;
        margin: 6px 15px 0 0;
}

img.right {
        float: right;
        margin: 6px 0 0 15px;
}

#content #notice {
  border: 2px solid green;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#content #error {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#header {
  padding-left: 75px;
  padding-right: 30px;
        font-size: 300%;
        margin: 0 auto;

}


#header {
  background-image: url("/images/rails.png");
  background-repeat: no-repeat;
  background-position: top left;
  /*height: 64px;*/
}
#header h1, #header h2 {margin: 0}
#header h2 {
  color: #888;
  font-weight: normal;
  font-size: 16px;
}


/* Page */

#page {
        width: 85%;
        margin: 0 auto;
}

/* Content */

#content {
        float: right;
        width: 75%;
}

#content p, #content ul, #content ol {
        line-height: 1.8em;
}

/* Sidebar */

#sidebar {
        float: left;
        /*width: 200px;*/
        padding: 0 0 0 0;
        border-right: 1px dotted #DCDCDC;
}

#sidebar ul {
        margin: 0;
        padding: 0;
        list-style: none;
}

#sidebar li {
}

#sidebar li ul {
}

#sidebar li li {
        padding: 5px 10px;
        border-top: 1px dotted #DCDCDC;
}

#sidebar li li.first {
        border-top-color: #FFFFFF;
}

#sidebar h2 {
        height: 40px;
        padding: 20px 0 0 40px;
        text-transform: lowercase;
        font-size: 167%;
}

#sidebar a {
        border: none;
}

#sidebar a:hover {
        border-bottom: 1px dotted #666666;
}

/* Footer */

#footer {
        clear: both;
        height: 150px;
        padding: 20px 0 0 0;
}

#footer p {
        margin: 0;
        text-align: center;
        font-size: 85%;
}

.list-line-even {
  background: #e0f8f8;
}

.list-line-even {
  background: #f8b0f8;
}

#salon form, #salon form div {
  display: inline;
}

   